<div class="modal-header">
  <h3 class="modal-title">Enter Additional Details</h3>
  <p>You can enter additional details using <a target="_blank" href="https://guides.github.com/features/mastering-markdown/">Markdown</a>! </p>
</div>
<div class="modal-body">
  <textarea ng-model="markdownText"></textarea>
</div>
<div class="modal-footer">
  <p class="preview-markdown">
    <a>Preview Markdown</a>
  </p>
  <button class="btn btn-primary" ng-click="submitDetails()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>