<div class="jumbotron jumbo-top">
  <h1 class="animated fadeInUp">{{ ictrl.title }}</h1>
  <form ng-if="ictrl.board" class="navbar-form navbar-middle" ng-submit="ictrl.submitIdea()">

    <!-- Enter Idea -->
    <div class="form-idea animated fadeInUp">
      <input name="idea-input" type="text" class="form-control form-title-control" placeholder="Enter idea here" ng-model="ictrl.idea.title" required>
    </div>

    <!-- Enter Description -->
    <div ng-if="ictrl.submitted" class="form-description ng-cloak">
      <textarea name="description-input" rows="3" class="form-control form-description-control" placeholder="Enter description here" ng-model="ictrl.idea.text"></textarea>
    </div>

    <button type="submit" class="btn btn-default idea-submit-button animated fadeInUp">Submit</button>
  </form>
</div>

<!-- User Feedback Message Area -->
<div class="user-feedback-container ng-cloak post-idea-animation" ng-if="ictrl.postSuccess" ng-click="ictrl.postSuccess = !ictrl.postSuccess">
  <span class="post-idea-success">Your idea has been posted.</span>
</div>

<!-- Idea Row -->
<div ng-repeat="idea in ictrl.data.ideas track by idea._id" ng-controller="CommentsCtrl as cctrl">
  <div class="row idea-post ng-cloak idea-post-repeat">
    <div class="col-md-1">
    </div>
    <div class="idea-container">
      <div class="col-md-1 upvote-downvote-wrapper" ng-controller="VotesCtrl as vctrl">
        <i class="fa fa-sort-asc" placement="top" data-template="common/popover.tpl.html" data-auto-close="1" bs-popover></i>
        <div class="vote-points">{{ idea.votes }}</div>
      </div>
      <div class="col-md-8">
        <div class="idea-wrapper">
          <h3 class="idea-title">{{ idea.title }}</h3>
          <h5 class="idea-description">{{ idea.text | limitTo: 130 }}{{ idea.text.length > 130 ? '...' : ''}}</h5>
          <p ng-if="ictrl.board" class="timestamp-author">Submitted {{ idea.created_at | moment }} by <a href="#/user/{{ idea.created_by }}">{{ idea.created_by }}</a></p>
          <p ng-if="!ictrl.board" class="timestamp-author">Submitted {{ idea.created_at | moment }} on the <a href="#/board/{{ idea.board }}">{{ idea.board }} idea board</a></p>
        </div>
      </div>
      <div class="col-md-1 ">
        <div class="comments-wrapper">
          <i class="fa fa-comments" ng-click="cctrl.displayComments(idea._id)"></i>
          <p class="comments-amount">{{ idea.comments }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-1">
    </div>
  </div>
  <div ng-class="{'well':cctrl.viewingComments}">
    <h3 ng-class="{'open':cctrl.viewingComments}" class="animate-h3 comment-header">Comments:</h3>
    <h5 ng-if="cctrl.viewingComments && !cctrl.comments.length" class="comment-header">(There are no comments yet!)</h5>
    <div class="animate-div" ng-class="{'open':cctrl.viewingComments && cctrl.comments.length}">
      <div class="row" ng-repeat="comment in cctrl.comments">
        <div class="col-md-8 col-md-offset-2">
          <span style="font-weight: bold">{{ comment.created_by }}: </span><span>{{ comment.text }}</span>
        </div>
      </div>
    </div>
    <div class="post-comment ng-cloak" ng-if="cctrl.viewingComments">
      <form ng-submit="cctrl.submitComment(idea._id, idea)">
        <input class="comment-form-control form-control" ng-model="cctrl.comment.text" rows="3" required></input>
        <button type="submit" class="btn btn-default comment-submit-button">Submit</button>
      </form>
    </div>
  </div>
</div>